<div>
  <div>
    <h4>Check Ajar Balance</h4>

    <button (click)="getAjarBalance()">Check Balance</button>

    <br/>
    <br/>

    <span>{{(ajarBalance$ | async)?.balance}}</span>

    <br/>
    <br/>

  </div>
</div>
<br/>
<br/>
<div>
  <div>
    <h4>Check Bank</h4>

    <form (ngSubmit)="getBankInfo()" autocomplete="off">

      <input
        [value]="ibanState.iban"
        (input)="ibanState.iban = $event.target.value"
        placeholder="Enter Your Iban"
        autofocus>

      <br/>
      <br/>

      <button>Get Bank Info</button>
    </form>

    <span>{{(bankInfo$ | async)?.bank}}</span>
    <br/>
    <img [src]="(bankInfo$ | async)?.logo" alt="">

  </div>
</div>
<br/>
<br/>
<div>
  <div>
    <h4>Transfer Money</h4>

    <form (ngSubmit)="submitTransfer()" autocomplete="off">

      <input
        [value]="ibanState.iban"
        (input)="ibanState.iban = $event.target.value"
        placeholder="Enter Your Iban"
        autofocus>

      <br/><br/>

      <input
        [value]="ibanState.amount"
        (input)="ibanState.amount = $event.target.value"
        placeholder="Enter Your Amount"
        autofocus>

      <br/><br/>

      <input
        [value]="ibanState.currency"
        (input)="ibanState.currency = $event.target.value"
        placeholder="Enter Your Currency"
        autofocus>

      <br/>
      <br/>

      <button>Transfer Ajar</button>
    </form>

  </div>
</div>
